# ignore data and results folder
/data/
/results/

# ignore log files
*.log
.Rhistory

# ignore Jupyter notebook checkpoint files
.ipynb_checkpoints
software/pyscenic/aldinger_RL.ipynb
software/pyscenic/vladoiu_mb.ipynb
*.ipynb

# ignore RDS object files
*.[Rr][Dd][Ss]

# R History files
.RData
.Ruserdata

# renv library
renv/library/
renv/python/
renv/staging/
renv/local/

# Rstudio files
.Rproj.user/

# intermediate files
MANIFEST.txt